{% extends 'base.html' %}

{% block title %}
About page
{% endblock %}

{% block body %}
 <style>
    html {
     font-size: 1em;
     background-color: #F5B0A1;
    }
    body{
    padding: 1em;
    background-color: #F5B0A1;
    }

    footer {
    font-size: 0.8em;
    color: blue;
    padding: 1em;
    }
</style>
 <h1>About</h1>

         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor sit amet nibh sed consequat. Nam sodales, nunc sed feugiat consequat, ipsum urna iaculis turpis, dapibus fermentum quam dui eu nibh. Nullam ut nunc sit amet ante hendrerit porttitor. Pellentesque iaculis velit ac nisl rutrum, vel viverra mauris semper. Sed in eros nec nisl viverra ornare eget quis turpis. Vivamus ultrices enim cursus semper tincidunt. Suspendisse viverra rhoncus cursus. Maecenas vel nisl luctus, elementum velit id, rutrum nisl. Vestibulum sit amet velit posuere, auctor sem pellentesque, tincidunt velit. Vestibulum luctus, dolor et sollicitudin venenatis, ligula dolor dapibus magna, vel accumsan quam dui consequat odio. Fusce placerat molestie odio id convallis. Praesent sed justo erat. Aliquam id lacinia purus. Aliquam rhoncus leo a condimentum luctus. Proin vulputate urna rutrum ligula semper, non fermentum turpis lobortis.</p>

         <p>Praesent nec ex vehicula, lobortis nunc lobortis, molestie urna. Morbi ligula elit, ullamcorper sed malesuada et, bibendum eget urna. Aliquam in purus odio. Quisque et tristique ligula, et gravida tellus. Quisque metus massa, ullamcorper ut lobortis eget, sodales sit amet sapien. Etiam mattis tortor eget ipsum egestas, sed aliquet diam viverra. Aliquam ut dictum turpis, id pretium lectus. Mauris sed luctus libero.</p>

         <p>Fusce odio nisi, rhoncus eget fermentum et, efficitur ac libero. Ut vel suscipit magna, non ultricies velit. Proin ac orci pretium, ultricies ligula facilisis, volutpat massa. Phasellus consequat et elit ut tincidunt. Duis ut semper quam. Pellentesque leo libero, eleifend ac vehicula vitae, sodales ac libero. Aliquam nec felis vulputate eros ultricies malesuada. Vivamus justo augue, tristique ut luctus sed, bibendum sit amet nibh. In eleifend mi suscipit arcu ornare hendrerit. Pellentesque malesuada eu dui et egestas. Mauris tellus nulla, pulvinar vitae volutpat vitae, lobortis vitae nibh. Mauris vulputate a quam vel mattis. Nunc aliquet sagittis dolor ac porta.</p>
{% endblock %}